/*
 * CSS GENERAL DE L'APLICACIO
 */

/************* CLASSES GENERALS *************/

/* tot */

.root, .mainFxmlClass {
    -fx-font: 14px "Tahoma";
    -fx-font-family: "Tahoma", Arial, sans-serif;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-size: 14px;
}

.mainFxmlClass > AnchorPane {
    -fx-background-color: #ffffff95;
    -fx-padding: 1.333332em 1.333332em 1.333332em 1.333332em;
}

.mainFxmlClass > .image-view {
    -fx-background-color: red;
    -fx-padding: 1.333332em 1.333332em 1.333332em 1.333332em;
}

VBox {
    -fx-alignment: CENTER;
    -fx-spacing: 20;
    -fx-font-size: 16px;
}


